#**Diabetes Detection**

## Importing required Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn import svm 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## Data Preprocessing

In [2]:
diabetes_dataset=pd.read_csv('./diabetes.csv')
diabetes_dataset.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [3]:
diabetes_dataset.shape

(768, 9)

In [4]:
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [5]:
x=diabetes_dataset.drop(columns='Outcome', axis=1)
y=diabetes_dataset['Outcome']

## Train-Test Split

In [6]:
xtrain, xtest, ytrain, ytest=train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

## Data Standardisation

In [7]:
scaler=StandardScaler()

In [8]:
xtrain=scaler.fit_transform(xtrain)
xtest=scaler.transform(xtest)

## Training the model

In [9]:
classifier=svm.SVC(kernel='linear')
classifier.fit(xtrain, ytrain)

SVC(kernel='linear')

## Accuracy Score

### On training data

In [10]:
xtrain_prediction=classifier.predict(xtrain)
train_accuracy=accuracy_score(xtrain_prediction, ytrain)
print('Training data sccuracy : ', train_accuracy)

Training data sccuracy :  0.7866449511400652

### On testing data

In [11]:
xtest_prediction=classifier.predict(xtest)
test_accuracy=accuracy_score(xtest_prediction, ytest)
print('Testing data sccuracy : ', test_accuracy)

Testing data sccuracy :  0.7727272727272727

## Making a predictive system

In [12]:
pregnancies=0
glucose=0
bloodPressure=0
skinThickness=0
insulin=0
BMI=0
diabetesPedigreeFunction=0
age=0

predictive_data=np.array([1,89,66,23,94,28.1,0.167,21])

input_data=np.array([pregnancies, 
                     glucose, 
                     bloodPressure, 
                     skinThickness, 
                     insulin, 
                     BMI, 
                     diabetesPedigreeFunction, 
                     age])

input_data=predictive_data
input_data_reshaped = input_data.reshape(1,-1)
std_data = scaler.transform(input_data_reshaped)
prediction = classifier.predict(std_data)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"